<div class="footer">
  <div class="container">
  	<div class="row">

  	  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  	  	<div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <a href="/"><img class="footer-logo" src="/img/footer_logo.png"/></a>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 store-desc">
            <h2>以宅配方式將這份用心傳遞<br/>家庭提供安全新鮮的有機蔬果<br/>是我們與在地小農的願望</h2>
          </div>
        </div>

        <div class="row store-contact margin-top-10 margin-bottom-10">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <h4>聯絡電話</h4>
            <span>02-2222-2222</span>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <h4>聯絡信箱</h4>
            <span>test@gmail.com</span>
          </div>
        </div>

  	  </div>

      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="row frame">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 item"><a href="/">我是服務</a></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 item"><a href="/">我是服務</a></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 item"><a href="/">我是服務</a></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 item"><a href="/">我是服務</a></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 item"><a href="/">我是服務</a></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 item"><a href="/">我是服務</a></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 item"><a href="/">我是服務</a></div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 item"><a href="/">我是服務</a></div>
        </div>
      </div>
  	</div>
  </div>
</div>