<div class="header">
    <div class="container">
        <div class="row hidden-xs margin-bottom-15">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <a href="/"><img src="/img/logo.png"  class="store-logo"/></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="input-group margin-top-20 margin-bottom-10">
                    <form action="/search_log/log_add" method="post" id="keyword_search_form">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="搜尋青菜或知識" id="search_keywords" name="search_keywords" value=""/>
                        <input type="hidden" id="search_type" name="search_type">
                    </form>

                    <div class="input-group-btn">
                        <button type="button" class="btn dropdown-toggle border-radius" data-toggle="dropdown" id="search_button">全站搜尋<span class="caret"></span></button>

                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li id="search_items"><a href="#">找青菜</a></li>       
                            <li id="search_stores"><a href="#">找知識</a></li>
                        </ul>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="top_search_button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="function-bar margin-top-20">
                    <div class="col-md-4 col-sm-3 col-xs-3"><a href="/login"><i class="fa fa-user"></i> 登入</a></div>
                    <div class="col-md-4 col-sm-3 col-xs-3"><a href="/register"><i class="fa fa-users"></i> 註冊</a></div>
                    <div class="col-md-4 col-sm-5 col-xs-6"><a href="/cart"><i class="fa fa-shopping-cart"></i> 購物車 <span class="badge">3</span></a></div>
                </div>
            </div>
        </div>
    <div class="row visible-xs">
    
    </div>

    
  </div>

  <div class="category">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 padding-x-1"><div class="tab-2">高麗菜</div></div>
            <div class="col-md-3 col-sm-3 col-xs-3 padding-x-1"><div class="tab-2">花椰菜</div></div>
            <div class="col-md-3 col-sm-3 col-xs-3 padding-x-1"><div class="tab-2">空心菜</div></div>
            <div class="col-md-3 col-sm-3 col-xs-3 padding-x-1"><div class="tab-2">大白菜</div></div>
            <div class="col-md-3 col-sm-3 col-xs-3 padding-x-1"><div class="tab-2">高麗菜</div></div>
            <div class="col-md-3 col-sm-3 col-xs-3 padding-x-1"><div class="tab-2">花椰菜</div></div>
            <div class="col-md-3 col-sm-3 col-xs-3 padding-x-1"><div class="tab-2">空心菜</div></div>
            <div class="col-md-3 col-sm-3 col-xs-3 padding-x-1"><div class="tab-2">大白菜</div></div>
        </div>
    </div>
  </div>

</div>
